@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel='stylesheet' href='@routes.Assets.versioned("css/bootstrap.min.css")'>
        <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/main.css")'>
        <link href="https://fonts.googleapis.com/css?family=Slackey" rel="stylesheet">
            <!-- First include jquery js -->
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <!-- Then include bootstrap js -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script

    </head>
    <body>
        <h1>This is a Scala with Akka actors showing Websockets in Play 2.6</h1>
        <div>@content</div>
    </body>
</html>